@model CourseViewModel
@{
    ViewData["Title"] = "EditCourseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Course <span style="color:blue">@Model.Course.CourseName</span></h1>


<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="Course.CourseName">Course name</label>
                <input asp-for="Course.CourseName" class="form-control" id="courseNameText" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <label>Select lecturers to the course</label>
            @{
                var lst = Model.List;
                @for (int i = 0; i < lst.Count(); i++)
                {
                    <div class="checkbox">
                        <label><input type="checkbox" class="lectureChecks" id="checkbox @i" asp-for="@Model.List[i].IsChecked">@Model.List[i].LecturerId</label>
                        <input type="hidden" asp-for="@Model.List[i].LecturerId" />
                    </div>


                }

                @if (lst.Count() == 0)
                {
                    <div class="checkbox">
                        <span class="badge badge-danger" style="font-size:medium">Lecturers list is empty</span>
                    </div>
                }
            }
            <input type="hidden" asp-for="@Model.Course.CourseId"/>
            <p></p>
            <button type="submit" id="sub" class="btn btn-primary" disabled>Edit</button>
        </form>
    </div>
</div>

@section Scripts{
    <script>

        $('.lectureChecks').on('change', function() {
                $('#sub').prop('disabled', !$(".lectureChecks:checked").length);
        })

         $(window).on('load', function () {
                $('#sub').prop('disabled', !$(".lectureChecks:checked").length);
        });


        /*
        var courseName = ""
        var hasLecturers = true
        var textChanged = false

        $('.lectureChecks').on('change', function () {
            //$('#sub').prop('disabled', !$(".lectureChecks:checked").length);
            this.hasLecturers = !$(".lectureChecks:checked").length;
            $('#sub').prop('disabled', this.hasLecturers && this.textChanged );
        })


        document.getElementById('courseNameText').addEventListener('input', function () {
            var curText = String(this.value);
            console.log(curText);
            this.textChanged = (this.courseName !== curText);
             console.log( this.textChanged);
            $('#sub').prop('disabled', this.hasLecturers && this.textChanged);
            });

        $(window).on('load', function () {
            this.courseName = "" //= $('#input').text()
             this.console.log(this.courseName)
             $('#sub').prop('disabled', true);
        });
        */

    </script>

}



